# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/
.vite/
dist/
dist-ssr/
*.local

# Build artifacts
public/sw.js
registerSW.js

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env*

# Playwright
playwright-report/
test-results/
.env
.env.production